/* CSS for Overview tab */

.mo_okta_header_container {
  width: 100%;
  background-color: #f3f4f9;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mo_okta_header_container_left {
  width: 100%;
  height: 100%;
  margin: 0 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
}

.mo_okta_header_container_right {
  width: 100%;
  margin: 0 2em 0 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mo_okta_header_container_right_video {
  width: 102%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.mo_okta_background_note {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 0.55em;
  width: 98%;
}

.mo_okta_highlight_background {
  background-color: #e0e0e0;
  border-radius: 4px;
  width: 97%;
  padding: 0.55em;
  text-align: justify;
}

.mo-guides-floating {
  float: right;
}

.switch_sync_way__activeblock {
  background-color: #bbdefb;
}

.switch_sync_way__nonactiveblock {
  background-color: lightgray;
}

.mo_pro_tooltip {
  display: none;
  width: 20%;
  background-color: #e0e0e0;
  border: groove;
  color: black;
  font-size: 84%;
  text-align: center;
  border-radius: 6px;
  padding: 1%;
  position: absolute;
  z-index: 1;
  margin-left: 0;
  margin-top: -9%;
  font-weight: 600;
  line-height: 1em;
}

.switch_sync_way__nonactiveblock:hover + .mo_pro_tooltip {
  display: block;
  opacity: 1;
}

.switch_sync_way__rightblock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
}

table.mo_how_to_sync td {
  line-height: 5em;
}

.mo_okta_choose_sync {
  background-color: inherit;
  width: 99%;
  height: 350px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.mo_okta_sync_headline {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2%;
}
/*.mo_azure_next_button{*/
/*  float: right;*/

/*}*/
/*.mo_azure_div_heading{*/
/*  !*text-transform: uppercase;*!*/
/*  font-size: 1.3em;*/
/*  font-weight: bold;*/
/*  display: flex;*/
/*  text-align: left;*/
/*  justify-content: center;*/
/*  !*padding-bottom: 2%;*!*/
/*  !*border-bottom: 2px solid #aaa;*!*/

/*}*/
/*.mo_azure_provision_chk{*/
/*  float: left;*/
/*  height: 18px;*/
/*  width : 18px;*/
/*  margin-top: 0.2em;*/
/*  cursor: default;*/

/*}*/
/*.mo_okta_user_sync_table_layout {*/
/*  background-color: #e0e0d8;*/
/*  width: 98%;*/
/*  padding: 1%;*/
/*  overflow: hidden;*/
/*}*/
/*.mo_okta_user_sync_tab_heading {*/
/*  letter-spacing: 0.08em;*/
/*  text-transform: uppercase;*/
/*  font-size: 1.2em;*/
/*  font-weight: bold;*/
/*  padding-bottom: 0.4%;*/
/*}*/
.mo_okta_header_container_step1 {
  width: 100%;
  background-color: #f3f4f9;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}
/*.mo_okta_provisioning_content {*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*}*/

.mo_okta_header_container_summary {
  width: 100%;
  background-color: #f3f4f9;
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  overflow: hidden;
}

table.step1_how_to_sync td:hover {
  background-color: lightgray;
}

table.step1_how_to_sync a {
  color: black;
  text-decoration: none;
}

.mo_okta_sync_gif {
  border: 1px black solid;
  object-fit: fill;
  width: 100%;
}
.mo_okta_step_1_img {
  cursor: pointer;
  border: black;
}
table.mo_okta_provisioning_types td {
  width: 33%;
  border: 1px solid grey;
}

table.mo_okta_provisioning_types tr:hover {
  background-color: white;
}
table.mo_okta_provisioning_types {
  border-spacing: 2em 0;
  border-collapse: separate;
}

.mo_okta_sync_text_center {
  text-align: center;
}
.mo_azure_ad_save_manual_prov {
  margin-left: 2em;
}
.mo_okta_sync_button {
  margin-left: 3em !important;
}
.mo_okta_sync_all_button {
  margin-left: 1em !important;
}
.mo_basic_attribute_mapping_table tr {
  border: none;
}
.mo_custom_attribute_mapping_table td {
  width: 40%;
}
.mo_custom_attribute_mapping_table tr {
  border: none;
}

.container-inline label:after,
.container-inline .label:after {
  content: "" !important;
}



table.mo_okta_test_data {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 13pt;
  background-color: #ededed;
}

table.mo_okta_test_data tr {
  text-align: center;
}

table.mo_okta_test_data tr td {
  border: 1px solid #949090;
}

table.mo_okta_test_data tr td+td {
  word-break: break-all;
  width: 100%;
  border: 1px solid #949090;
}
.mo-bottom-corner {
  position: fixed;
  width: 5em;
  height: 5em;
  bottom: 2em;
  right: 2em;
  border-radius: 50px;
  border: black solid;
  text-align: center;
  box-shadow: 5px 5px 5px #999;
  z-index: 100;
}

.mo_okta_text_center {
  text-align: center;
}

.mo_okta_audit_clear_logs {
  text-align: right;
}

.mo_okta_audits td {
  text-align: center;
}

.mo_okta_audits th {
  text-align: center;
}

.mo_okta_provisioning_operations_table tr {
  border: none;
}

.scim_client_know_more_hidden {
  visibility: hidden;
  width: 30%;
  background-color: #ffffff;
  border: groove;
  color: black;
  font-size: 60%;
  text-align: center;
  border-radius: 6px;
  padding: 1%;
  position: absolute;
  top: 50%;
  left: 30%;
}

.scim_client_know_more {
  height: 12%;
  width: 9%;
}

.scim_client_know_more:hover + .scim_client_know_more_hidden {
  visibility: visible;
  opacity: 1;
}

.scim_client_know_more1 {
  height: 5%;
  width: 2%;
}

.reviewbutton {
  float: right;
}
